<a class='btn btn-outline-primary' href='/portfolio/add/revenue'>add revenue</a>
<a class='btn btn-outline-primary' href='/portfolio/add/expense'>add expense</a>

<br>
<br>

<table class='table table-striped'>
  <tr>
    <th>Capital</th>
    <th>Goal</th>
    <th>Time Frame (months)</th>
    <th>Edit</th>
  </tr>
  <tr>
    <td id='StartingCapital'><%=user.portfolio.wallet%></td>
    <td id='GoalCap'><%=user.portfolio.goal%></td>
    <td id='months'><%=user.portfolio.timeFrame%></td>
    <td ><a class="btn btn-secondary" href="/portfolio/edit/profile">Edit</a></td>
  </tr>
</table>

<h2>revenue</h2>
<table class='table table-striped' class='positive'>
    <tr>
      <th>Title</th>
      <th>monthly revenue</th>
      <th>Annual % change</th>
  
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  
    <% user.portfolio.revenue.forEach((source,idex)=>{ %>
    <tr>
        <td> 
          <%= source.title %>
        </td>
        <td id='rev_MIF<%=idex%>' class='monthlyIn'> <%= source.monthlyInFlow %> </td>
        <td id='rev_APC<%=idex%>' class='annualP'> <%= source.annualPercentChange %></td>
  
      <td>
        <a class="btn btn-secondary" href="/portfolio/edit/revenue?id=<%= source.id %>">Edit</a>
      </td>
      
      <td>
        <form  class="btn btn-danger" method='POST' action="/portfolio/delete/revenue/<%=source.id%>?_method=DELETE"><button class="btn btn-danger">Delete</button></form>
      </td> 
    </tr>
  
    <% }) %>
  </table>





<h2>Expenses</h2>
<table class='table table-striped negative'>
<tr>
    <th>Title</th>
    <th>monthly expense</th>
    <th>Annual % change</th>

    <th>Edit</th>
    <th>Delete</th>
</tr>

<% user.portfolio.expense.forEach((source,idex)=>{ %>
<tr>
    <td> 
        <%= source.title %>
    </td>
    <td id='Ex_M<%=idex%>' class='monthlyExpense'> <%= source.monthlyExpense %> </td>
    <td id='Ex_APC<%=idex%>' class='monthlyExpChange'> <%= source.annualPercentChange %></td>

    <td>
    <a class="btn btn-secondary" href="/portfolio/edit/expense?id=<%= source.id %>">Edit</a>
    </td>
    
    <td>
        <form  class="btn btn-danger" method='POST' action="/portfolio/delete/expense/<%=source.id%>?_method=DELETE"><button class="btn btn-danger">Delete</button></form>
    </td> 
</tr>

<% }) %>

</table>

<canvas id="myChart" >
</canvas>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script src='../js/main.js'>
</script> 